<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{%endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Accueil</a></li>
                <li><a href="{{ url_for('about') }}">À propos</a></li>
                <li><a href="{{ url_for('service') }}">Services</a></li>
                <li><a href="{{ url_for('recherche') }}">Recherche</a></li>
                <li><a href="{{ url_for('education') }}">Education</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block contenu %} {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Ma Page Web</p>
    </footer>

</body>
</html>
