<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('serve_static', filename='style.css') }}">
    <title>{% block title %}{%endblock %}</title>
</head>
<body>
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#">Your Logo</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li>
                  <label for="recherche">Recherche:</label>
                  <select id="recherche-select" name="recherche" class="custom-select">
                      <option value="{{ url_for('about') }}">Articles</option>
                      <option value="{{ url_for('about') }}">Domaines</option>
                  </select>
              </li>
              <li>
                  <label for="service">Service:</label>
                  <select id="service-select" name="service" class="custom-select">
                      <option value="{{ url_for('about') }}">Master</option>
                      <option value="{{ url_for('about') }}">Examen Biomédicale</option>
                  </select>
              </li>
              <li>
                  <label for="education">Education:</label>
                  <select id="education-select" name="education" class="custom-select">
                      <option value="{{ url_for('about') }}">Programme</option>
                      <option value="{{ url_for('about') }}">Master2</option>
                  </select>
              </li>
              <li>
                <a href="{{ url_for('contact') }}">Contact</a>
              </li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>
<section class="home">
  <h1 class="home-title">
    <span>Bienvenue sur notre site </span>
    <span>Laboratoire de biologie moléculaire de l'université </span>
    <span>d'Abomey calavi </span>
  </h1>
</section>

<div class ="body_1">
  {% block contenu %}{%endblock %}
</div>

<div style="height:30px">
  
</div>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">uac.com<i>uac</i>visitez lz site de l'université</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">Biologie </a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">FAST</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">FSS</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">CAncer</a></li>
            <li><a href="http://scanfcode.com/category/android/">Moléculaire</a></li>
            <li><a href="http://scanfcode.com/category/templates/">uac</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy;{{now.year}} All Rights Reserved by 
       <a href="#">xage personel</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
              <a href="https://facebook.com">
                <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook">
              </a>
          </li>
            <li>
              <a href="https://twitter.com">
                <img src="https://i.ibb.co/vJvbLwm/social-twitter.png" alt="Twitter">
              </a>
            </li>
            <li>
              <a href="https://linkedin.com">
                <img src="https://i.ibb.co/b30HMhR/social-linkedin.png" alt="Linkedin">
              </a>
            </li> 
          </ul>
        </div>
      </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });
</script>
<script type="text/javascript" src="{{ url_for('serve_static', filename='script.js') }}"></script>
</body>
